# Your robot definitions file
ROBOT_DEFINITIONS_FILE_NAME="robot-definitions.example.yaml"
# Timezone code compatible with the Pytz Python library
LOCATION_TZ="America/Los_Angeles"
# One of: DEBUG, INFO, WARNING, ERROR, CRITICAL
LOGLEVEL="INFO"
# InOrbit API key obtained during the setup process detailed in the README.md file
INORBIT_API_KEY="<key>"
# IPv4 address of the OTTO FLeet Manager VM
FLEET_MANAGER_ADDRESS="192.168.1.123"
