inorbit-edge[video]>=1.11.1
pytz>=2022.7
python-dateutil
# Note(FlorGrosso): Pin to 2.26.0 as this is the version that the Edge SDK expects
# https://github.com/inorbit-ai/edge-sdk-python/blob/main/setup.py#L50
requests==2.26.0
uuid
pyyaml
autobahn[twisted]
pyOpenSSL
service-identity
