[Unit]
Description=MiR Connector <robot_id>
After=network.target

[Service]
Type=idle
Restart=on-failure
User=inorbit
# By default, the kill signal is SIGTERM so we override it by SIGINT
# so the connector handles it the same way as a keyboard interrupt
KillSignal=SIGINT
ExecStart=/bin/bash -c 'cd ~/mir-connector-<robot_id> && export $(grep -v '^#' config/.env | xargs) && source ./venv/bin/activate && inorbit_mir_connector -c config.yaml -id <robot_id>'

[Install]
WantedBy=multi-user.target